.photo-grid {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 16px;
  object-position: center;
}

@media screen and (max-width: 1224px) {
  .photo-grid {
    gap: 14px;
  }
}

@media all and (max-width: 968px) {
  .photo-grid {
    gap: 16px;
  }
}

@media all and (max-width: 442px) {
  .photo-grid {
    gap: 12px;
  }
}
