.lead {
  width: 100%;
  max-width: calc(100% - 296px);
  margin: auto;
  margin-top: 56px;
}

@media screen and (max-width: 1224px) {
  .lead {
    max-width: calc(100% - 96px);
    margin-top: 48px;
  }
}

@media all and (max-width: 968px) {
  .lead {
    max-width: 100%;
  }
}
