.fotogallery {
  max-width: calc(100% - 96px);
  margin: auto;
  margin-top: 92px;
}

@media all and (max-width: 968px) {
  .fotogallery {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}

@media all and (max-width: 442px) {
  .fotogallery {
    max-width: calc(100% - 32px);
    margin-top: 64px;
  }
}
