.lead__image {
  width: 100%;
  min-height: 615px;
  margin: auto;
  margin-top: 64px;
}

@media screen and (max-width: 1224px) {
  .lead__image {
    min-height: 580px;
    margin-top: 56px;
  }
}

@media all and (max-width: 968px) {
  .lead__image {
    min-height: 480px;
  }
}

@media all and (max-width: 442px) {
  .lead__image {
    min-height: 200px;
    margin-top: 40px;
  }
}
