.intro {
  width: 100%;
  max-width: 690px;
  margin: auto;
  margin: 92px 148px 0px;
}

@media screen and (max-width: 1224px) {
  .intro {
    margin: 92px 48px 0px;
  }
}

@media all and (max-width: 968px) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 88px 24px 0px;
  }
}

@media all and (max-width: 442px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 64px 16px 0px;
  }
}
