.intro {
  width: 100%;
  max-width: 984px;
  margin: auto;
  margin: auto;
  margin-top: 92px;
}

@media screen and (max-width: 1224px) {
  .intro {
    max-width: 928px;
  }
}

@media all and (max-width: 968px) {
  .intro {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}

@media all and (max-width: 442px) {
  .intro {
    max-width: calc(100% - 32px);
    margin-top: 64px;
  }
}
