.cover {
  width: 100%;
  max-width: 1184px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1224px) {
  .cover {
    max-width: 100%;
  }
}

@media all and (max-width: 968px) {
  .cover {
    margin-top: 18px;
    margin-bottom: 88px;
  }
}

@media all and (max-width: 442px) {
  .cover {
    margin-bottom: 64px;
  }
}
