.cover__overlay {
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
}

.cover__overlay::before {
  content: "";
  width: 100%;
  min-height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1224px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 968px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media all and (max-width: 442px) {
  .cover__overlay {
    min-height: 200px;
  }
}
